/*******Fonts*for*headings********/
$font-color-headings: #000000;
$font-family-headings: 'Delius Unicase', cursive;
$font-size-heading: 36px;
$line-height-headings: 45.07px;

/*******Fonts*for*cards*****/
$font-family-cards: 'Roboto', sans-serif;
$font-size-cards: 20px;
$line-height-cards: 23.44px;
$text-align: center;

/*******Fonts*weight*****/
$font-weight-primary: 400;
$font-weight-secondary: 500;

/*******spacing*******/
$margin-center: 0 auto;
$gap: 30px;
$padding: 0 135px;

/*******width*******/
$max-width: 1440px;
$min-width: 320px;

/*******color*******/
$defaul-color: #FFFFFF;

