h1 {
    color: $font-color-headings;
    font-family: $font-family-headings;
    font-size: $font-size-heading;
    line-height: $line-height-headings;
    font-weight: $font-weight-primary;
    margin: $margin-center;
    margin-top: 120px;
    margin-bottom: 80px;
}