p {
    color: $defaul-color;
    font-weight: $font-weight-primary;
    font-family: $font-family-cards;
    line-height: $line-height-cards;
}

.text-name {
    font-weight: $font-weight-secondary;
}