svg {
    padding: 10px;
    background-color: $defaul-color;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    opacity: 50%;
    cursor: pointer;
        &:hover {
            opacity: 1;
        }
}
        